.darkBtn {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: linear-gradient(rgba(56, 52, 245, 0.507), rgb(75, 75, 238));
    border: none;
    padding: 10px;
    border-radius: 100px;
    filter: blur(0.5px);
    transition: 0.3s ease-in-out;
    font-size: 2rem;

    &:hover {
        transform: scale(1.05) rotateZ(15deg) translateX(-10px);
        color: white;
        // filter: drop-shadow(1px 10px 3px rgb(43, 42, 42)) blur(0.5px);
    }
}
